.MenuItem {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    height: fit-content;
    padding: 5px;
    font-family:Bradley Hand;
    text-shadow: 1px 1px 1px white;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;

}

.MenuItem:hover {
    color: red;
    font-size: 32px;
    text-shadow: 2px 3px 3px red ;

}