.Footer {
    background-color: aqua;
    height: 100px;
    width: 100%;
    top: 700px;
    position: absolute;


}
.Footer h3{
    text-align: center;
    font-family: Bradley Hand;
    font-size: 40px;
    font-weight: bold;
}