.Footer {
    /*background-color: aqua;*/
    height: 200px;
    width: 100%;
    top: 600px;
    position: fixed;
    display: block;
    /*bottom: 100px;*/
    background: url(park-footer.png);
    background-repeat: no-repeat;
    background-size: 100%;


}
.Footer h3{
    text-align: center;
    font-family: Bradley Hand;
    font-size: 40px;
    font-weight: bold;
}
.Footer img{

}