
li{
    list-style: none;


}
li a{
    color: white;
    font-size: 30px;
    font-family:Bradley Hand;
    text-shadow: 2px 2px 1px black;
    font-weight: bold;
    text-decoration: none;



}
li a:hover{
    color: red;
    font-size: 32px;
    text-shadow: 2px 3px 3px red ;

}